<div class="" id="irflist">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <img src="assets/images/snet-logo.png">
    </div>
    <div class="panel-body" style="">
      <div class="row">
        <div class="col-lg-12" >
          <div class="">
            <h3> <a ui-sref="qtview">IRF List Page</a></h3>
            <p>TOTAL IRF: {{ getirflist.length }}</p>
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>IRF No</th>
                  <th>Requisitioner Name</th>
                  <th>Date</th>
                  <th>Urgent</th>
                  <th>Urgent</th>
                  <th></th>
                </tr>
              </thead>
              <tr ng-repeat="getirf in getirflist">
                <th><a >{{ getirf._id }}</a></th>
                <th><a >{{ getirf.data.irfNo }}</a></th>
                <td><a >{{ getirf.data.requisitionerName }}</a></td>
                <td><a >{{ getirf.data.date }}</a></td>
                <td><a >{{ getirf.data.urgent }}</a></td>
                <td><a class="btn btn-success btn-sm" ng-click="showirfitem(getirf._id)" >View Item Requests</a></td>
                <td><a class="btn btn-primary btn-sm" ui-sref="qtitemadd"  href="#/qtitemadd">Add Quotation Item</a> </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p>Total Item Requested for this IRF: {{ showirfitemlist.length }}</p>
<p>Total Item Replied for this IRF: {{ showitemreplylist.length }}</p>
<p>{{ quotationItem.length }}</p>

<script type="text/javascript">
  function gotoitem(){
    window.scrollTo({
      top: document.querySelector('#viewitemrequest').getBoundingClientRect().top + window.pageYOffset,
      behavior: 'smooth'
    })
  }
</script>

<div class="" id="viewitemrequest" >
  <div class="panel panel-primary">
    <div class="panel-body" style="">
      <div class="row">
        <div class="col-lg-12" >
          <div class="">
            <h3>View Item Requests</h3>
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                  <!-- <th>ID</th>
                  <th>FT IRF</th> -->
                  <th>Item Title</th>
                  <th>Item Details</th>
                  <th>Item Quantity</th>
                </tr>
              </thead>
              <tr ng-repeat="showirfitem in showirfitemlist">
                <!-- <th><a >{{ showirfitem._id }}</a></th>
                <th><a >{{ showirfitem.data.ftirf }}</a></th> -->
                <td><a >{{ showirfitem.data.itemTitle }}</a></td>
                <td><a >{{ showirfitem.data.itemDetails }}</a></td>
                <td><a >{{ showirfitem.data.itemQuantity }}</a></td>
                <td><a class="btn btn-success btn-sm"  ng-click="showitemreply(showirfitem._id)" >View Item Replies</a></td>
                <td><a class="btn btn-primary btn-sm" ui-sref="qtitemreplyadd" href="#/qtitemreplyadd">Add Quotation Item Reply</a> </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function gotoitemreplies(){
    window.scrollTo({
      top: document.querySelector('#viewitemreplies').getBoundingClientRect().top + window.pageYOffset,
      behavior: 'smooth'
    })
  }
</script>

<div class="" id="viewitemreplies" >
  <div class="panel panel-primary">
    <div class="panel-body" style="">
      <div class="row">
        <div class="col-lg-12" >
          <div class="">
            <h3>View Item Replies</h3>
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                  <!-- <th>ID</th>
                  <th>FT Item ID</th> -->
                  <th>Vendor Name</th>
                  <th>Brand</th>
                  <th>Total Price</th>
                  <th></th>
                </tr>
              </thead>
              <tr ng-repeat="showitemreply in showitemreplylist">
                <!-- <th><a >{{ showitemreply._id }}</a></th>
                <th><a >{{ showitemreply.data.quotationItemId }}</a></th> -->
                <td><a >{{ showitemreply.data.vendorName }}</a></td>
                <td><a >{{ showitemreply.data.brand }}</a></td>
                <td><a >{{ showitemreply.data.totalPrice }}</a></td>
                <td><a class="btn btn-primary btn-sm" >View </a> </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" style="display:none;">
  <div class="panel panel-primary">
    <div class="panel-body" style="">
      <div class="row">
        <div class="col-lg-12" style="text-align: center;">
          <div class="">
            <h3>Quotation Item List Page</h3>
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>FT IRF</th>
                  <th>Item Title</th>
                  <th>Item Details</th>
                  <th>Item Quantity</th>
                </tr>
              </thead>
              <tr ng-repeat="quotationItem in quotationItemlist">
                <th><a >{{ quotationItem._id }}</a></th>
                <th><a >{{ quotationItem.data.ftirf }}</a></th>
                <td><a >{{ quotationItem.data.itemTitle }}</a></td>
                <td><a >{{ quotationItem.data.itemDetails }}</a></td>
                <td><a >{{ quotationItem.data.itemQuantity }}</a></td>
                <td><a class="btn btn-primary btn-sm" ui-sref="qtitemreplyadd" href="#/qtitemreplyadd">Add Quotation Item Reply</a> </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" style="display:none;">
  <div class="panel panel-primary">
    <div class="panel-body" style="">
      <div class="row">
        <div class="col-lg-12" style="text-align: center;">
          <div class="">
            <h3>Quotation Item Reply List Page</h3>
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>FT Item ID</th>
                  <th>Vendor Name</th>
                  <th>Brand</th>
                  <th>Total Price</th>
                  <th></th>
                </tr>
              </thead>
              <tr ng-repeat="quotationitemreply in quotationitemreplylist">
                <th><a >{{ quotationitemreply._id }}</a></th>
                <th><a >{{ quotationitemreply.data.quotationItemId }}</a></th>
                <td><a >{{ quotationitemreply.data.vendorName }}</a></td>
                <td><a >{{ quotationitemreply.data.brand }}</a></td>
                <td><a >{{ quotationitemreply.data.totalPrice }}</a></td>
                <td><a class="btn btn-primary btn-sm" >View </a> </td>
                <td><input type="checkbox" name="" value="">recommend</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <input type="text" ng-model="showirfitemlist"> -->


<!-- <table class="table table-sm table-bordered">
  <tr ng-repeat="gmy in gmyarray">
    <td><a >{{ gmy._id }}</a></td>
    <td><a >{{ gmy.irfNo }}</a></td>
    <td><a >{{ gmy.requisitionerName }}</a></td>
    <td><a >{{ gmy.totalitem }}</a></td>
    <td></td>
  </tr>
</table> -->
