<div class="">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <img src="assets/images/snet-logo.png">
    </div>
    <div class="panel-body" style="">
      <div class="row">
        <div class="col-lg-12" style="text-align: center;">
          <div class="">
            <h3> <a ui-sref="qtview">IRF List Page</a></h3>
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>IRF No</th>
                  <th>Requisitioner Name</th>
                  <th>Date</th>
                  <th>Urgent</th>
                  <th></th>
                </tr>
              </thead>
              <tr ng-repeat="getirf in getirflist">
                <th><a >{{ getirf._id }}</a></th>
                <th><a >{{ getirf.data.irfNo }}</a></th>
                <td><a >{{ getirf.data.requisitionerName }}</a></td>
                <td><a >{{ getirf.data.date }}</a></td>
                <td><a >{{ getirf.data.urgent }}</a></td>
                <td><button class="btn btn-success btn-sm" type="button" name="buttonview">View</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="panel panel-primary">
    <div class="panel-body" style="">
      <div class="row">
        <div class="col-lg-12" style="text-align: center;">
          <div class="">
            <h3>Quotation Item List Page</h3>
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                  <th>Item ID</th>
                  <th>FT IRF</th>
                  <th>Item List</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tr ng-repeat="quotationItem in quotationItemlist">
                <th><a >{{ quotationItem.data.itemListItemId }}</a></th>
                <th><a >{{ quotationItem.data.ftirf }}</a></th>
                <td><a >{{ quotationItem.data.itemList }}</a></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-custom-element@3.0.0/dist/vue-custom-element.js"></script>
<script>
  const MyVueWebComp = {
    props: ['msg'],
    template:`
    <div style="border: 3px dashed green; padding: 5px">
      I am my-vue-web-comp.<br>
      Value received via "msg" prop: {{ msg }}<br>
      <input v-model="text"><button @click="addText">Type something and click me</button>
      <div v-for="t in texts">
        Text: {{ t }}
      </div>
    </div>
    `,
    data() {
      return {
        text: '',
        texts: []
      };
    },
    methods: {
      addText() {
        this.texts.push(this.text);
        this.text = '';
      }
    }
  };
  Vue.customElement('my-vue-web-comp', MyVueWebComp);
</script>

<my-app>loading</my-app>
