@import "bower_components/bootswatch/yeti/_variables.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootswatch/yeti/_bootswatch.scss";
@import "bower_components/font-awesome/scss/font-awesome";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.logo img {
  height: 30px;
  margin-top: -3px;
}

body {
  background-color: #f6f9ff;
}

#panel-login {
  background-color: #cdd5e9;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#panel-loginbox {
  box-shadow: inset 3px 5px 5px rgba(0, 0, 0 , 0.15);
  border-radius: 20px;
}

.navbar-snetcolor{
  background-color: #27366b;
}
